In [3]:
from WindPy import *
from pandas import Series, DataFrame
import pandas as pd

In [2]:
w.start()

Welcome to use Wind Quant API for Python (WindPy)!
You can use w.menu to help yourself to create commands(WSD,WSS,WST,WSI,WSQ,...)!

COPYRIGHT (C) 2016 WIND HONGHUI INFORMATION & TECHKNOLEWDGE CO., LTD. ALL RIGHTS RESERVED.
IN NO CIRCUMSTANCE SHALL WIND BE RESPONSIBLE FOR ANY DAMAGES OR LOSSES CAUSED BY USING WIND QUANT API FOR Python.

.ErrorCode=0
.Data=[OK!]

In [55]:
import numpy as np

In [70]:
d1 = w.wsd('600000.SH', ['close', 'open', 'high', 'low'], '2016-01-01', '2017-01-31')

In [71]:
df1 = DataFrame(np.array(d1.Data).T, index = d1.Times, columns=d1.Fields)

In [73]:
df = DataFrame()

In [75]:
df['CLOSE'] = d1.Data[0]

In [77]:
df['open'] = d1.Data[1]

In [78]:
df

     CLOSE   open
0    17.80  18.28
1    17.96  17.51
2    18.10  17.90
3    17.51  17.80
4    17.49  17.74
5    17.05  17.21
6    17.45  17.17
7    17.39  17.57
8    17.92  17.00
9    17.58  17.80
10   17.68  17.43
11   17.77  17.78
12   17.25  17.61
13   16.58  17.22
14   17.02  16.84
15   17.03  17.00
16   16.66  16.96
17   16.68  16.75
18   16.58  16.76
19   16.90  16.52
20   16.50  16.99
21   16.76  16.50
22   16.61  16.60
23   17.30  16.84
24   18.38  17.24
25   18.45  17.98
26   18.45  18.45
27   18.45  18.45
28   18.45  18.45
29   18.45  18.45
..     ...    ...
232  16.70  17.13
233  16.66  16.70
234  16.52  16.65
235  16.28  16.52
236  16.32  16.26
237  16.19  16.32
238  16.19  16.17
239  16.25  16.13
240  16.14  16.25
241  16.09  16.14
242  16.07  16.09
243  16.21  16.07
244  16.30  16.21
245  16.33  16.29
246  16.30  16.30
247  16.18  16.30
248  16.20  16.24
249  16.19  16.18
250  16.16  16.24
251  16.12  16.18
252  16.27  16.10
253  16.56  16.23
254  16.40  16.46
255  16.48  16.42
256  16.54  16.43
257  16.60  16.58
258  16.57  16.66
259  16.69  16.58
260  16.69  16.69
261  16.74  16.69

[262 rows x 2 columns]

In [86]:
df1 = DataFrame({'num':[1,2,3],'alpha':['a','b','c']})
df2 = DataFrame({'num':[9,8,7],'alpha':['x','y','z']})

In [89]:
l = ['num', 'alpha']
cal = 'a + b + a'

In [91]:
dff = DataFrame()
for s in l:
    a = df1[s]
    b = df2[s]
    dff[s] = eval(cal)

In [93]:
dff['cal'] = cal.replace('a',df1['alpha'])

TypeError: replace() argument 2 must be str, not Series

In [ ]:
cal.replace('a', 'xx')